<div class="custom-input-container">
    <input 
      type="text" 
      [(ngModel)]="searchTerm" 
      (input)="filterCountries()" 
      placeholder="Search or select a country"
      class="custom-input"
      (click)="onInputClick()"
    >
    
    <div *ngIf="filteredCountries.length > 0" class="custom-dropdown">
      <div 
        *ngFor="let country of filteredCountries" 
        (click)="selectCountry(country)" 
        class="custom-dropdown-item"
      >
        {{ country.name }} ({{ country.code }}, {{ country.code3 }})
      </div>
    </div>
  </div>
  